<main class="main">
  <form class="main__form" action="GET">
    <input
      class="js-search main__form--input"
      type="text"
      name="Search"
      id=""
      placeholder="Search Friend"
    />
    <button
      type="button"
      value=">"
      name="Submit"
      class="js-button main__form--button"
    >
      <i class="fas fa-user-friends main__form--button--icon"></i>
    </button>
  </form>

  <ul class="js-section main__section" id="">
    <li class="js-container main__section--container" id="">
      <img class="js-image main__section--container--img" id="" src="" alt="" />
      <div class="main__section--container--text">
        <h1 class="js-name main__section--container--text--name"></h1>
        <h3 class="js-city main__section--container--text--city"></h3>
        <h3 class="js-user main__section--container--text--user"></h3>
      </div>
    </li>
  </ul>
</main>
