<main class="main">
  <form class="main__form" action="GET">
    <input
      class="main__form--input"
      type="text"
      name="Search"
      id=""
      placeholder="Search Friend"
    />
    <button type="button" value=">" name="Submit" class="main__form--button">
      <i class="fas fa-user-friends main__form--button--icon"></i>
    </button>
  </form>
  <div>
    <section class="main__section" id="demo">
      <div class="main__section--container">
        <img
          class="main__section--container--img"
          id=""
          src="./assets/images/tay-billboard.jpg"
          alt=""
        />
        <div class="main__section--container--text">
          <h1 class="main__section--container--text--name">Nombre</h1>
          <h3 class="main__section--container--text--city">Ciudad</h3>
          <h3 class="main__section--container--text--user">Usuario</h3>
        </div>
      </div>
    </section>
  </div>
</main>
